.footer {
    background-color: #9FAD86; /* Green */
    color: #FFF7DE; /* Offwhite */
    padding: 20px 12.5%;
    font-family: 'Raleway', sans-serif;
  
    .footer-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      gap: 20px;
    }
  
    .footer-logo img {
      width: 250px;
      height: auto;
    }
  
    .footer-links {
      display: flex;
      gap: 20px;
      cursor: pointer;
  
      a {
        text-decoration: none;
        color: #FFF7DE; /* Offwhite */
        font-size: 16px;
  
        &:hover {
          text-decoration: underline;
          color: #8C0404; /* Red */
        }
      }
    }
  
    .footer-social {
      display: flex;
      gap: 15px;
  
      a img {
        width: 36px;
        height: 36px;
        transition: transform 0.3s ease;
  
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  
    @media screen and (max-width: 768px) {
      .footer-container {
        flex-direction: column;
        text-align: center;
      }
  
      .footer-links {
        justify-content: center;
      }
  
      .footer-social {
        justify-content: center;
      }
    }
  }
  