/* Header */
.menu-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  img {
    width: 24px;
    height: 24px;
  }
}

.header { 
    background-color: #9FAD86;  
    color: #FFF7DE;  
    padding: 10px 20px;
    font-family: 'Raleway', sans-serif;
    z-index: 10;
    border-bottom: 1px solid #ddd;
}
  
.search-bar-desktop {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%; 
  margin: 0 auto 20px;  
  justify-content: space-between;
  padding: 10px;
}
.logo {
  cursor: pointer;
  width: 350px;
  height: 130px; 
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  img { 
    object-fit: cover;
    overflow: hidden;
    }
  }

  input {
    cursor: pointer;
    width: 300px;
    padding: 17.5px 45px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 42px;
    background: #FFF7DE;  
    color: #8C0404;  
  }

  .search-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }

  .search input:focus {
    border-color: #8C0404;
    box-shadow: 0 0 5px rgba(200, 90, 84, 0.5);
  }

  /* Navigation */ 
  .main-nav {
    display: flex;
    gap: 20px;
    align-items: center; 
    background-color: #9fad86; /* Haupt-Hintergrundfarbe */
    padding: 10px 20px;
    font-family: 'Raleway', sans-serif;
  }
  
    button {
      font-family: 'Raleway', sans-serif;
      font-size: 16px;
      color: #fff7de; /* Offwhite */
      text-transform: none; /* Keine Großbuchstaben */
    }
  
    button:hover {
      color: #8c0404; /* Rot */
    }
    .custom-button {
      font-family: 'Raleway', sans-serif;
      font-size: 18px;
      color: #fff7de !important;
      font-weight: 600;
      text-transform: none;
    
      &:hover {
        color: #8c0404 !important;
      }
    }

    .custom-menu { 
      margin-left: 15px;
      font-family: 'Raleway', sans-serif;
      font-size: 18px;
      color: #8c0404 !important;
      font-weight: 600;
      text-transform: none;
    }
    
  
  

 
  
  