<header class="header">
	<div
		class="container">
		<!-- Suchleiste -->
		<div class="search-bar-desktop">
			<div routerLink="/" class="logo"> 
          <img src="assets/logo/LogoAnotherSpoonfulGreen.png" alt="Logo von Another Spoonful" />
      </div>
			<div class="search-input-container">
				<input type="text" placeholder="Finde Dein Rezept" [(ngModel)]="searchService.searchQuery" (keyup)="searchService.onSearch()"/>
				<img src="assets/icons/search-grey.svg" alt="Such-Icon" class="search-icon"/>
			</div>
		</div>

		<!-- Burger-Menü -->
		<button class="menu-toggle" (click)="toggleMenu()">
			<img src="assets/icons/burger.png" alt="Burger-Menü"/>
		</button>

		<!-- Navigation -->
<nav class="main-nav">
  <!-- Spoonfuls Dropdown -->
  <button mat-button [matMenuTriggerFor]="spoonfulsMenu" class="custom-button">
    Spoonfuls
    <mat-icon >arrow_drop_down</mat-icon>
  </button>
  <mat-menu #spoonfulsMenu="matMenu" class="custom-menu">
    <button mat-menu-item routerLink="/recipes/soups">Suppen</button>
    <button mat-menu-item routerLink="/recipes/stews">Eintöpfe</button>
  </mat-menu>

  <!-- Aufläufe -->
  <button mat-button routerLink="/recipes/casseroles" class="custom-button">
    Aufläufe
  </button>
 
  <!-- Pasta -->
  <button
  mat-button
  [routerLink]="['/category', 'Pasta']"
  class="custom-button" 
>
  Pasta
</button>



  <!-- Hauptgerichte Dropdown -->
  <button mat-button [matMenuTriggerFor]="mainDishesMenu" class="custom-button">
    Hauptgerichte
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <mat-menu #mainDishesMenu="matMenu" class="custom-menu">
    <button mat-menu-item [routerLink]="['/category', 'Fleisch']">
      Fleisch
    </button>    
    <button mat-menu-item routerLink="/recipes/fish">Fisch</button>
    <button mat-menu-item routerLink="/recipes/veggie">Veggie</button>
  </mat-menu>

  <!-- Desserts -->
  <button mat-button routerLink="/recipes/desserts" class="custom-button">
    Desserts
  </button>

  <!-- Backen Dropdown -->
  <button mat-button [matMenuTriggerFor]="bakingMenu" class="custom-button">
    Backen
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <mat-menu #bakingMenu="matMenu" class="custom-menu">
    <button mat-menu-item routerLink="/recipes/baking-sweet">Süß</button>
    <button mat-menu-item routerLink="/recipes/baking-savory">Herzhaft</button>
    <button mat-menu-item routerLink="/recipes/christmas">Weihnachten</button>
  </mat-menu>
</nav>

	</div>
</header>
